.header {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	
	height: 70px;

	background-color: #111;
}

.burger {
	position: absolute;
	left: 0;

	display: flex;
	flex-direction: column;
	gap: 12px;
	&__line {
		width: 24px;
		height: 1px;
		background-color: #fff;
	}
}